.addfood-title{
    display: flex;
    align-items: center;
    gap:14px;
    margin-top: 20px;
    margin-left: 200px;
}

.addfood-title img{
    height: 50px;
    width: 50px;
}

.addfood-title h2{
    font-size: 20px;
    font-weight: bold;
}

.popup-form {
    background-color: #e4ffc2;
    border-radius: 16px;
    padding: 24px;
    width: 500px;
    max-width: 95%;
    position: 24px auto;
    margin: 40px auto;
}

.form-group label{
    font-size: 16px !important; 
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.btn-close {
    background-color: #f4a015;
    border: none;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.form-group label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #333;
}

.form-group input[type="text"] {
    padding: 10px 14px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    background-color: white;
}

.form-row {
    display: flex;
    gap: 16px;
}

.form-row .form-group { flex: 1; }


.upload-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-chon-file {
    background-color: #f5c4c4;
    border-radius: 20px;
    padding: 8px 16px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

#fileName {
    font-size: 13px;
    color: #888;
}

.status-row {
    display: flex;
    gap: 20px;
    align-items: center;
}

.status-option {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 14px;
}

.status-option input { display: none; }

.status-btn {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.status-btn.green { background-color: #a8e6a3; color: #1a5c1a; }
.status-btn.red   { background-color: #f5a4a4; color: #8b0000; }

.popup-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
}

.btn-huy {
    padding: 10px 24px;
    background-color: #f4d000;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.btn-luu {
    padding: 10px 24px;
    background-color: #f4d000;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.btn-huy:hover, .btn-luu:hover { background-color: #d4b000; }